.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.p {
  font-size: 20px;
}
.proj-container{
  /* align-content: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* text-align: center; */
}
.projName {
  padding: 15px;
  margin: 0 100px 25px 0;
  flex: 1 1 0;
}
.card-image{
  width: 400px;
  border: 1px solid black;
  height: 450px;
}
.card-title{
  font-size: 30px;
}
.card-action {
  display: flex;
  justify-content: space-around;
}
.container {
  text-align: center;
}
.footercontainer {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}
.links {
  justify-content: flex-end;
  flex-basis: 33.3%;
}
.about{
  display: flex;
  height: 100%;
  text-align: center;
}
.aboutCard {
  width: 500px;
  padding: 15px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.profile-img-card {
  width: 150px;
  height: 200px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

